@charset "UTF-8";
/* MARGIN Y ACOMODACIONES */
.marginBot {
  margin-bottom: 30px; }

.ayudaAcomodacion {
  width: 70%;
  margin-left: 20%; }

.descripcion {
  margin-bottom: 20px; }

.centroVertical {
  margin-top: 10%; }

.centroVertical2 {
  margin-top: 5%; }

.centroHorizontal {
  margin-left: 20%; }

.centroHorizontal2 {
  margin-left: 10%; }

.centroHorizontal3 {
  margin-left: 13%; }

/* Coloreado general de la página */
.fondoBoton {
  background-color: orangered; }
  .fondoBoton:hover {
    background-color: midnightblue; }

/*Aplicando Map - Get */
h1 {
  color: orangered;
  margin-bottom: 15px; }

h2 {
  color: orangered;
  margin-bottom: 15px; }

p {
  color: midnightblue; }

.separacion {
  margin-top: 30px; }

a {
  text-decoration: none;
  color: orangered; }

/* ANIMACIONES */
/* Aplicando Mixin */
@keyframes aparicion {
  0% {
    opacity: 0%;
    transform: translate(0rem, 2rem); }
  100% {
    opacity: 100%;
    transform: translate(0rem, 0px); } }

.a2 {
  animation-name: aparicion;
  animation-duration: 3s;
  animation-iteration-count: initial; }

@keyframes aparicion2 {
  0% {
    opacity: 0%;
    transform: translate(0rem, 2rem); }
  12% {
    opacity: 0%; }
  100% {
    opacity: 100%;
    transform: translate(0rem, 0px); } }

.a3 {
  animation-name: aparicion2;
  animation-duration: 3s;
  animation-iteration-count: initial; }

@keyframes aparicion3 {
  0% {
    opacity: 0%;
    transform: translate(0rem, 2rem); }
  24% {
    opacity: 0%; }
  100% {
    opacity: 100%;
    transform: translate(0rem, 0px); } }

.a4 {
  animation-name: aparicion3;
  animation-duration: 3s;
  animation-iteration-count: initial; }

@keyframes aparicion4 {
  0% {
    opacity: 0%;
    transform: translate(0rem, 2rem); }
  48% {
    opacity: 0%; }
  100% {
    opacity: 100%;
    transform: translate(0rem, 0px); } }

.a5 {
  animation-name: aparicion4;
  animation-duration: 3s;
  animation-iteration-count: initial; }

/* GRID */
* {
  font-family: 'Roboto Condensed', sans-serif; }

.gridPadre {
  display: grid;
  grid-template-areas: "encabezado navegacion" "carrusel carrusel" "productos productos" "marcas marcas" "pie pie"; }

header {
  grid-area: encabezado; }

.logo {
  height: 80px;
  margin-left: 20%; }

nav {
  grid-area: navegacion;
  margin-top: 3px; }

.carrusel {
  grid-area: carrusel; }

/* Aplicando Extend */
.e, main, .marcas {
  margin-left: 10%;
  margin-right: 10%; }

main {
  grid-area: productos; }

.marcas {
  grid-area: marcas; }

footer {
  grid-area: pie;
  text-align: center;
  width: 100%;
  color: rgba(0, 0, 0, 0.6); }

/* MEDIAQUARY */
@media (max-width: 490px) {
  .gridPadre {
    grid-template-areas: "navegacion" "encabezado" "carrusel" "productos" "marcas" "pie"; } }
