
/* ESTRUCTURACIÓN DE LA PÁGINA */

/* INDEX */
.gridPadre {
    display: grid;
    grid-template-areas:
    "encabezado navegacion"
    "carrusel carrusel"
    "productos productos"
    "marcas marcas"
    "pie pie";
}

header {
    grid-area: encabezado;
}

.logo {
    height: 80px;
    margin-left: 20%;

}

nav {
    grid-area: navegacion;
    margin-top: 3px;
}

.carrusel{
    grid-area: carrusel;
}

main{
    grid-area: productos;
    margin-left: 10%;
    margin-right: 10%;
}

.marcas{
    grid-area: marcas;
}

footer{
    grid-area: pie;
    text-align: center;
    width: 100%;
    color: rgba(0, 0, 0, 0.6);
  }

.marginBot{
    margin-bottom: 30px;
}


/* Coloreado general de la página */
.fondoBoton {
    background-color: orangered;
}

.fondoBoton:hover{
    background-color: midnightblue;
}