/* Coloreado general de la página */
.fondoBoton {
    background-color: orangered;
  }
  
  .fondoBoton:hover {
    background-color: midnightblue;
  }
  
  h2 {
    color: orangered;
    margin-bottom: 15px;
  }
  
  p {
    color: midnightblue;
  }
  
  .separacion {
    margin-top: 30px;
  }
  
  a {
    text-decoration: none;
    color: orangered;
  }