/* MARGIN Y ACOMODACIONES */

.marginBot {
  margin-bottom: 30px;
}

.ayudaAcomodacion {
  width: 70%;
  margin-left: 20%;
}

.descripcion {
  margin-bottom: 20px;
}

.centroVertical {
  margin-top: 10%;
}

.centroVertical2 {
  margin-top: 5%;
}

.centroHorizontal {
  margin-left: 20%;
}

.centroHorizontal2 {
  margin-left: 10%;
}

.centroHorizontal3 {
  margin-left: 13%;
}